@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-link:hover {
  box-shadow: 0 4px 8px rgba(38, 99, 235, 0.2); /* Blue glow */
}

.nav-link:hover > span {
  background-color: #FF6347; /* Tomato color for underline */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
